<html>
    <head> 
        <title> closed</title>
        <link rel="stylesheet" type="text/css" href="styles/style1.css"/>
    
    
    </head>

    <body id="closed">
    
        <div class="center">
            <h1 class="danger">This site is only available during working hours!</h1>
            <h2>We are open from Monday to Friday, 9am to 5pm</h2>
            
        </div> 
    </body>
</html>
