<html>
    <head> 
        <title> services</title>
        <link rel="stylesheet" type="text/css" href="styles/style1.css"/>
        <link href="assets/css/A.bootstrap.min.css+template.css+fa.min.css+gfonts.min.css,Mcc.LI5f1xXhbm.css.pagespeed.cf.G00NPyYGCq.css" rel="stylesheet" media="screen">
        <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        
        <link rel="stylesheet" href="styles/style.css">

        
        <link rel="stylesheet" href="styles/blue.css">
        
        <!-- skin color -->
        
        <link rel="stylesheet" href="styles/responsive.css">
    </head>

    <body>
        <!-- <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/services">Our Services</a>
            <a href="/contact">Contact Us</a>
        </div> -->
            <%-include('navbar.ejs')%>
    
            <div class="row" style="margin-top: 40px;">
                <div class="twelve columns" >
                    <ul class="ca-menu">
                        <li>
                        <a href="#">
                        <span class="ca-icon"><i class="fa fa-heart"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Responsive<br/> Design</h2>
                            <h3 class="ca-sub">Across all major devices</h3>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <span class="ca-icon"><i class="fa fa-bullhorn"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Friendly<br/> Documentation</h2>
                            <h3 class="ca-sub">Straight to the point</h3>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <span class="ca-icon"><i class="fa fa-user"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Alternate<br/> Home Pages</h2>
                            <h3 class="ca-sub">Full slider, boxed or none</h3>
                        </div>
                        </a>
                        </li>
                        <li>
                        <a href="#">
                        <span class="ca-icon"><i class="fa fa-camera"></i></span>
                        <div class="ca-content">
                            <h2 class="ca-main">Filterable<br/> Portofolio</h2>
                            <h3 class="ca-sub">Isotop & PrettyPhoto</h3>
                        </div>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- CONTENT 
            ================================================== -->
            <div class="row">
                <div class="twelve columns">
                    <div class="centersectiontitle">
                        <h2>Our Services</h2>
                    </div>
                </div>
                <div class="four columns">
                    <h5>Photography</h5>
                    <p>
                         Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
                    </p>
                    <p>
                        <a href="#" class="readmore">Learn more</a>
                    </p>
                </div>
                <div class="four columns">
                    <h5>Artwork</h5>
                    <p>
                         Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
                    </p>
                    <p>
                        <a href="#" class="readmore">Learn more</a>
                    </p>
                </div>
                <div class="four columns">
                    <h5>Logos</h5>
                    <p>
                         Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
                    </p>
                    <p>
                        <a href="#" class="readmore">Learn more</a>
                    </p>
                </div>
            </div>
            <div class="hr">
            </div>
            




     <!--    <div class="row">
    
	<div class="eight columns">
		<div class="sectiontitle">
			<h1>Our Services</h1>
		</div>
		
		<div class="six columns noleftmargin">			
			<h5 class="sidebartitle">Service 1</h5>
			<p>	
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/settings.png" class="pics" alt=""> Duis sit amet risus nunc. Maecenas a elementum urna. Quisque euismod pellentesque sem in feugiat. Mauris nulla urna, euismod sit amet placerat et, adipiscing sit amet nisi. Maecenas libero purus, pulvinar at blandit a, auctor non nulla. Fusce vitae tortor erat
			</p>
		</div>
		<div class="six columns noleftmargin">
			<h5 class="sidebartitle">Service 2</h5>
			<p>
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/settings.png" class="pics" alt=""> Duis sit amet risus nunc. Maecenas a elementum urna. Quisque euismod pellentesque sem in feugiat. Mauris nulla urna, euismod sit amet placerat et, adipiscing sit amet nisi. Maecenas libero purus, pulvinar at blandit a, auctor non nulla. Fusce vitae tortor erat.
			</p>
		</div>
		<div class="six columns noleftmargin">
			<h5 class="sidebartitle">Service 3</h5>
			<p>
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/settings.png" class="pics" alt=""> Duis sit amet risus nunc. Maecenas a elementum urna. Quisque euismod pellentesque sem in feugiat. Mauris nulla urna, euismod sit amet placerat et, adipiscing sit amet nisi. Maecenas libero purus, pulvinar at blandit a, auctor non nulla. Fusce vitae tortor erat.
			</p>
		</div>
		<div class="six columns noleftmargin">
			<h5 class="sidebartitle">Service 4</h5>
			<p>
			<img src="http://www.wowthemes.net/demo/studiofrancesca/images/settings.png" class="pics" alt=""> Duis sit amet risus nunc. Maecenas a elementum urna. Quisque euismod pellentesque sem in feugiat. Mauris nulla urna, euismod sit amet placerat et, adipiscing sit amet nisi. Maecenas libero purus, pulvinar at blandit a, auctor non nulla. Fusce vitae tortor erat.
			</p>
		</div>
		<div class="clear">
		</div>
		<br/>
		<div class="panel">
			<p>
				<b>Phasellus luctus ante in eros suscipit aliquet. Donec convallis scelerisque tellus, quis vulputate lacus laoreet sed. Mauris vitae ultricies neque. Nullam arcu neque, posuere et accumsan quis, euismod id leo. Donec tristique, nisi vel tincidunt faucibus, velit eros pulvinar leo, in sollicitudin nisi nibh ac arcu.</b>
			</p>
		</div>		
	</div>
	
	<div class="four columns">
	    
		<h5>Have a project in mind?</h5>
		<p>
			Just provide some preliminary information and a our team will contact you as soon as possible.
		</p>
		<div class="done">
				<div class="alert-box success">
				 Message has been sent! <a href="" class="close">x</a>
				</div>
		</div>
		<div class="form">
			<form method="post" action="contact.php" id="contactform">
				<input type="text" name="name" class="smoothborder" placeholder="Your name *"/>
				<input type="text" name="email" class="smoothborder" placeholder="E-mail address *"/>
				<textarea name="comment" class="smoothborder" rows="6" placeholder="Describe your project *"></textarea>
				<input type="submit" id="submit" class="readmore" value="Submit">
			</form>
		</div>
		<br/>
		
		<ul class="accordion">
			<li class="active">
			<div class="title">
				<b>Don't miss our treats</b>
			</div>
			<div class="content accordiontrick">
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			</li>
			<li class="">
			<div class="title">
				<b>Holiday Services</b>
			</div>
			<div class="content accordiontrick">
				<p>
					 Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
				<p>
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				</p>
			</div>
			</li>
		</ul>
	</div>
</div>
<div class="hr">
</div>
 -->


    </body>
</html>
